/* Шрифт Oswald */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* Общие стили */
body {
  height: 100%;
  font: 13px/16px Arial, Tahoma, sans-serif;
  color: #000;
  background: #fff url(../images/bg.jpg) repeat;
}

ol,ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

/* Отступы */
.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center {
  width: 960px;
  margin: 0 auto;
}

/* Обвёртка */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.middle {
  padding-bottom: 295px;
}

/* Индивидуальные стили сайта */
/* Панель в шапке */
.panel-top {
  height: 34px;
  background-color: #2a2b2c;
  border-top: 3px solid #cc3333;
}

/* Социальные сети */
.social {
  float: left;
  padding: 4px 0;

  a {
    display: inline-block;
    height: 23px;
    width: 23px;
    vertical-align: middle;
    background: url(../images/sprite-social.png) no-repeat center;
    border-radius: 50%;

    &.s-fb {
      background-position: 0 0;
    }

    &.s-dribble {
      background-position: -23px 0;
    }

    &.s-tw {
      background-position: -46px 0;
    }

    &.s-mail {
      background-position: -69px 0;
    }

    &.s-vimeo {
      background-position: -92px 0;
    }
  }
}

/* Вход на сайт */
.login {
  padding-top: 7px;

  a, span {
    color: #fff;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Корзинка */
.basket {
  float: right;
  width: 100px;
  height: 45px;
  border-radius: 0 0 10px 10px;
  background: #cc3333 url(../images/basket.png) no-repeat 5px 6px;
  margin-left: 25px;
  overflow: hidden;

  a {
    display: block;
    height: 45px;
    width: 100px;
    color: #fff;
    padding-top: 13px;
    padding-left:40px
  }
}

/* Шапка сайта */
#header {
  padding: 18px 0;
}

/* Логотип */
#logo {
  img, span {
    display: inline-block;
    vertical-align: middle;
    font: normal 30px/30px arial, sans-serif;
  }
}

/* Навигация */
.nav {
  margin-top: 25px;

  li {
    position: relative;
    float: left;

    &+li {
      margin-left: 30px;
    }

    a {
      font: bold 14px arial, sans-serif;
      text-transform: uppercase;
    }

    &:before {
      content:"";
      position: absolute;
      top: -17px;
      left: 50%;
      margin-left: -18px;
      display: none;
      width: 35px;
      border-top: 4px solid #efc539;
    }

    &:hover:before,
    &.active:before {
      display: block;
    }
  }
}

/* HOME */
#home {
  background: #fff;
  margin-bottom: 40px;
  height: 100px;
  border-bottom: 1px solid #e0e0e0;
}

.home-bg {
  background-color: #cd3737;
  padding: 20px 0;
  box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
  font: normal 28px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

/* Хлебные крошки */
.breadcrumbs {
  li {
    float: left;
    font: 12px/10px arial, sans-serif;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);

    a {
      font: 12px/10px arial, sans-serif;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.25);
    }

    .sp {
      display: inline-block;
      margin-left: 3px;
      margin-right: 5px;
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
/** Хлебные крошки **/

.link-home {
  display: inline-block;
  margin-top: 8px;
  width: 36px;
  height: 33px;
  background: url(../images/home.png) no-repeat;
}

/* Сортировка */
.sorting {
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 18px 0 18px 0;
}

.s-category {
  li {
    float: left;
    background: url(../images/s-sp.png) no-repeat right center;

    &:last-child {
      background-image: none;
    }
  }

  a {
    display:inline-block;
    padding-left: 7px;
    padding-right: 12px;
    text-transform: uppercase;
    color: #1e1e20;

    &:hover {
      font-weight: bold;
      color: #000;
    }
  }

  .active {
    a {
      padding-left: 20px;
      font-weight: bold;
      color: #000;
    }
  }
}

.s-list {
  padding-right: 20px;
  float: right;

  a {
    display: inline-block;
    vertical-align: middle;

    & + a {
      margin-left: 10px;
    }
  }

  .ic-squares {
    width: 28px;
    height: 18px;
    background: url(../images/squares.png) no-repeat ;
  }

  .ic-list {
    width: 30px;
    height: 20px;
    background: url(../images/list.png) no-repeat;
  }
}

.select-sort {
  display: inline-block;
  margin-right: 80px;

  .sort-by {
    padding-right: 14px;
  }
}

/* Сайдбар */
.sidebar {
  width: 260px;
}

.sidebar-title {
  position: relative;
  margin-bottom: 35px;
  padding: 0 0 15px 15px;
  font: normal 18px/20px 'Oswald', sans-serif;
  color: #2a2b2c;
  text-transform: uppercase;
  border-bottom: 1px dotted #d5d5d5;

  .sidebar-title-br {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 7px;
    margin-top: -3px;
    background: #cc3333;
  }
}

.sidebar-products {
  margin-top: 10px;
  padding-left: 15px;
}

.sidebar-products-img {
  float: left;
  overflow: hidden;
  padding: 5px 0;

  img {
    display: block;
    width: 100%;
  }
}

.sidebar-products-info {
  padding-top: 15px;
  margin-left: 105px;

  .product {
    margin: 8px 0;
    font: bold 13px arial, sans-serif;
    color: #2a2b2c;
  }
}

.cat-list {
  margin: 10px 0 20px 0;
  padding-left: 15px;
  list-style: url(../images/cat-list-style.png);
  list-style-position: inside;

  li {
    padding: 10px 0;
    border-bottom: 1px dotted #d5d5d5;

    a {
      font: bold 13px arial, sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: normal;
      color: #7d7e7e;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.sidebar-search {
  position: relative;
  padding-left: 15px;

  input[type="text"] {
    margin-top: 17px;
    display: block;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-style: italic;
    color: #1e1e1e;
    width: 100%; /*width: 246px;*/
    height: 40px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.06);
  }

  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 2px;
    height: 40px;
    width: 40px;
    border: none;
    background: transparent url(../images/s-search-btn.png) no-repeat center;
    cursor: pointer;
  }
}
/** Сайдбар **/

/* Контент */
.content {
  margin-right: 305px;
}

.sidebar,
.product-catalog {
  margin-top: 40px;
}

.products {
  float: left;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 210px;
  height: 370px;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.p-img {
  position: relative;
  height:210px;
  width: 210px;
  overflow: hidden;

  span {
    display: inline-block;
    padding: 20px 9px;
    position: absolute;
    top: 15px;
    left: 10px;
    font: bold 12px/12px arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(204,51,51,.50);
    border-radius: 50%;
  }
}

/* Описание продукта */
.p-footer {
  padding: 0 10px 15px 10px;

  p {
    font: 13px/20px arial, sans-serif;
    margin-bottom: 10px;

    span {
      font-weight: bold;
    }
  }
}

.products {
  h6 {
    margin: 8px 0;
    font: bold 13px arial, sans-serif;
    color: #2a2b2c;

    span {
      font-weight: normal;
      font-style: italic;
    }
  }

  .product {
    margin: 8px 0;
    font: bold 13px arial, sans-serif;
    color: #2a2b2c;
  }
}
/** Описание продукта **/

/* Цена продукции */
.price {
  margin-top: 5px;
  display: inline-block;
  text-decoration: line-through;
  color: #1e1e20;
  font: bold 13px arial, sans-serif;
}

.price-new {
  display: inline-block;
  background: #cc3333;
  font: bold 13px/16px arial, sans-serif;
  color: #fff;
  padding: 2px;
  margin-left: 6px;
  margin-top: 5px;
}

.price-lg {
  display: inline-block;
  font: bold 16px arial, sans-serif;
  color: #1e1e20;
  margin-top: 4px;
  padding: 2px;
}
/** Цена продукции **/

.p-footer-price {
  vertical-align: middle;

  a {
    padding: 7px 5px;
    display: inline-block;
    background: #1e1e20;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;

    &:hover {
      background: #3e3e41;
    }

    &:active {
      background: #000;
    }
  }
}

/* Рейтинг звёздочки */
.rate {
  background: url(../images/black-star.png) repeat-x;
  margin:	10px 0 12px 0;
  width: 73px;
  height: 15px;

  &>div {
    background: url(../images/star.png) repeat-x;
    height: 100%;
  }
}
/** Рейтинг звёздочки **/
/** Контент **/

/* Пагинация */
.pagination {
  background: #fff;
  margin: 20px 0;
  padding: 15px 20px;
  border: 1px solid #eaeaea;

  ul {
    li {
      float: left;
      margin-right: 14px;
    }

    a {
      font: bold 14px/18px arial, sans-serif;
      color: #1e1e20;

      &:hover {
        color: #cc3333;
      }
    }

    .active {
      a {
        color: #cc3333;
      }
    }
  }
}
/** Пагинация **/

/* Футер */
#footer {
  position: relative;
  padding: 25px 0;
  border-top: 5px solid #000;
  margin-top: -295px;
  height: 295px;
  background: #191919 url(../images/f-bg.jpg) repeat;

  p {
    color: #fff;
  }
}

/* Кнопка наверх */
.btn-top {
  position: absolute;
  top: -15px;
  right: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/btn-top.png) no-repeat;
}

.f-about {
  float: left;
  margin-right: 15px;
  width: 240px;

  p {
    display: inline-block;
    line-height: 18px;
    margin-bottom: 25px;
  }

  span {
    font-weight: bold;
  }
}

.f-title {
  font: bold 16px arial, sans-serif;
  color: #fff;
  margin-bottom: 15px;
}

.f-social {
  float: left;
  padding: 4px 0;

  a {
    display: inline-block;
    height: 23px;
    width: 23px;
    vertical-align: middle;
    background: url(../images/f-sprite-social.png) no-repeat center;
    border-radius: 50%;

    &.s-fb {
      background-position: 0 0;
    }

    &.s-tw {
      background-position: -23px 0;
    }

    &.s-dribble {
      background-position: -46px 0;
    }

    &.s-digg {
      background-position: -69px 0;
    }

    &.s-mail {
      background-position: -92px 0;
    }
  }
}

/* Вторая колонка футера */
.f-archives {
  float: left;
  width: 200px;
  margin-right: 50px;
}

.f-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 0;
    border-bottom: 1px dotted #888785;

    &:last-child {
      border: none
    }

    a {
      color: #fff;

      &:hover {
        color: #858585;
      }
    }
  }
}

/* Третья колонка футера */
.f-popular {
  float: left;
  width: 212px;
  color: #fff;

  .f-products-info {
    padding-top: 15px;
    margin-left: 110px;

    h6 {
      font: bold 13px arial, sans-serif;

      a {
        color: #fff;


        &:hover {
          color: #858585;
        }
      }
    }
  }

  .f-products-img {
    float: left;
    overflow: hidden;
    padding: 5px 0;

    img {
      display: block;
      width: 100%;
    }
  }
}

/* Комментарии */
.comments,
.comments-white {
  background: url(../images/comments.png) no-repeat bottom left;
  font: normal 11px arial, sans-serif;
  color: #858585;
  text-transform: uppercase;
  padding-left: 20px;
}

.comments-white {
  background: url(../images/comments-white.png) no-repeat bottom left;
  color: #fff;
}
/** Комментарии **/

/* Четвёртая колонка футера */
.f-search {
  float: right;
  width: 215px;

  .f-search-form {
    margin: 20px 0 27px 0;

    input[type=text] {
      margin-top: 15px;
      display: block;
      background: rgba(0,0,0,0.2);
      border: 1px solid #787979;
      font-style: italic;
      color: #c3c2c2;
      width: 100%;
      height: 40px;
      box-shadow: 1px 1px 2px rgba(0,0,0,.06);
    }
  }

  a {
    &.tags {
      display: inline-block;
      margin: 0 4px 4px 0;
      padding: 3px 7px;
      font-size: 12px;
      color: #fff;
      background: #2a2a2a;
    }
  }
}
/** Четвёртая колонка футера **/

.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1b1b1b;
  height: 35px;
  border-top: 2px solid #000;

  .f-nav {
    li {
      float: left;

      a {
        display: inline-block;
        margin-top: 8px;
        padding-right: 18px;
        font-size: 11px;
        color: #858585;

        &:hover {
          text-decoration: underline
        }
      }
    }
  }

  span {
    display: inline-block;
    float: right;
    margin-top: 8px;
    font-size: 11px;
    color: #858585;
  }
}
/** Футер **/

/* Ползунок */
