/* Шрифт Oswald */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* Общие стили */
body {
  font-family: Arial, Tahoma, sans-serif;
  color: #000;
  background-color: #ffffff;
  background-image: url(../images/bg.jpg);
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

.column {
  display: flex;
  justify-content: space-between;

  &__small {
    flex: 0 0 260px;
    width: 260px;
  }

  &__middle {
    flex: 0 0 660px;
    width: 660px;
  }
}

.rate {
  background: url(../images/black-star.png) repeat-x;
  margin:	10px 0 12px 0;
  width: 73px;
  height: 15px;

  & > div {
    background: url(../images/star.png) repeat-x;
    height: 100%;
  }
}

.comments {
  background: url(../images/comments.png) no-repeat bottom left;
  font: normal 11px arial, sans-serif;
  color: #858585;
  text-transform: uppercase;
  padding-left: 20px;
}

.commentsWhite {
  background: url(../images/comments-white.png) no-repeat bottom left;
  font: normal 11px arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
}

.main {
  padding-bottom: 58px;
}