.header {
  &__top {
    height: 35px;
    background-color: #2a2b2c;
    border-top: 3px solid #cc3333;
    box-sizing: border-box;

    @include breakpointmedia($media-480, 'max-width') {
      height: auto;
      padding: 10px 0;

      .header__right {
        align-content: space-between;
        justify-content: space-between;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      height: 100%;

      @include breakpointmedia($media-480, 'max-width') {
        flex-direction: column-reverse;
      }
    }


  }

  &__bottom {
    padding: 20px 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      height: 100%;

      @include breakpointmedia($media-768, 'max-width') {
        flex-direction: column;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;

    @include breakpointmedia($media-768, 'max-width') {
      justify-content: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    height: 100%;

    @include breakpointmedia($media-768, 'max-width') {
      justify-content: center;
    }
  }

  &__basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 60px;
    border-radius: 0 0 10px 10px;
    background-color: #cc3333;
    padding: 10px 12px 0;
    box-sizing: border-box;
    cursor: pointer;

    @include breakpointmedia($media-480, 'max-width') {
      background-color: transparent;
      padding: 0;
      width: 80px;
    }

    &:before {
      display: inline-block;
      width: 29px;
      height: 29px;
      background-image: url(../images/basket.png);
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      font-size: 13px;
      color: #ffffff;
    }
  }
}

.login {
  margin-right: 30px;
  font-size: 13px;

  @include breakpointmedia($media-480, 'max-width') {
    margin-right: 0;
  }

  a, span {
    color: #fff;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  img, span {
    display: inline-block;
    vertical-align: middle;
    font: normal 30px/30px arial, sans-serif;
  }
}

.nav {
  display: flex;
  margin-top: 25px;

  @include breakpointmedia($media-480, 'max-width') {
    flex-direction: column;
    margin-top: 0;
    padding-top: 25px;
    align-items: center;
  }

  li {
    position: relative;

    & + li {
      margin-left: 30px;

      @include breakpointmedia($media-768, 'max-width') {
        margin-left: 15px;
      }

      @include breakpointmedia($media-480, 'max-width') {
        margin-left: 0;
      }
    }

    a {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:before {
      content:"";
      position: absolute;
      top: -17px;
      left: 50%;
      margin-left: -18px;
      display: none;
      width: 35px;
      border-top: 4px solid #efc539;

      @include breakpointmedia($media-480, 'max-width') {
        display: none!important;
      }
    }

    &:hover:before,
    &.active:before {
      display: block;
    }
  }
}