.sidebar {
  &__item {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0 0 15px 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #2a2b2c;
    text-transform: uppercase;
    border-bottom: 1px dotted #d5d5d5;
  }

  &__titleBr {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 7px;
    margin-top: -3px;
    background: #cc3333;
  }

  &__container {
    padding: 30px 0;

    &--type1 {
      padding: 12px 0;
    }

    &--type2 {
      padding: 20px 0;
    }
  }
}

.sidebarProducts {
  padding: 0 15px;

  &--footer {
    padding: 0;

    .sidebarProducts__title {
      a {
        color: #fff;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    padding: 12px 0 0;
  }

  &__img {
    overflow: hidden;
    width: 90px;

    a {
      display: block;
      font-size: 0;
    }

    img {
      width: 100%;
    }
  }

  &__info {
    width: calc(100% - 90px);
    box-sizing: border-box;
    padding-left: 16px;

    .rate {
      margin: 10px 0 5px;
    }

    .product {
      margin: 8px 0;
      font: bold 13px arial, sans-serif;
      color: #2a2b2c;
    }
  }
}

.catList {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: url(../images/cat-list-style.png);
  list-style-position: inside;

  li {
    border-bottom: 1px dotted #d5d5d5;
    margin-bottom: 6px;
    padding-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      font: bold 13px arial, sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-size: 14px;
      font-weight: normal;
      color: #7d7e7e;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.sidebarSearch {
  position: relative;
  padding: 0 0 0 14px;

  input[type="text"] {
    display: block;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-style: italic;
    color: #1e1e1e;
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.06);
    box-sizing: border-box;
    font-size: 13px;
    padding: 0 14px;
  }

  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 2px;
    height: 40px;
    width: 40px;
    border: none;
    background: transparent url(../images/s-search-btn.png) no-repeat center;
    cursor: pointer;
  }
}